@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #010011;
    background: linear-gradient(
        90deg,
        rgba(1, 0, 17, 1) 0%,
        rgba(1, 0, 17, 1) 25%,
        rgba(23, 1, 13, 1) 48%,
        rgba(1, 0, 17, 1) 91%,
        rgba(19, 3, 1, 1) 100%
    );
    background-size: 100% 100%;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-background: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-raidhub: var(--raidhub);
    --color-hyperlink: var(--hyperlink);

    --spacing-header: var(--header-height);
    --spacing-footer: var(--footer-height);
    --spacing-body: var(--min-body-height);

    --breakpoint-4xl: 128rem;
    --breakpoint-6xl: 160rem;
}

/* fixes radix behavior */
html body[data-scroll-locked] {
    overflow: visible !important;
    margin-right: 0 !important;
}

:root {
    /* main colors */
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.29 0.0015 17.24 / 0.39);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    /* text colors */
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.74 0 none);
    --secondary-foreground: oklch(0.985 0 0);
    /* muted */
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    /* accent */
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    /* theme colors */
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(0.29 0 0 / 0.98);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.42 0 none / 0.61);
    --hyperlink: oklch(0.74 0.1485 57.89);
    /* custom colors */
    --raidhub: oklch(0.67 0.1564 54.62);
    /* chart */
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    /* sidebar */
    --sidebar: oklch(0.29 0 0 0.08);
    --sidebar-background: oklch(0.21 0 none);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.205 0 0);
    --sidebar-ring: oklch(0.79 0.1379 49.9);
    --sidebar-accent: oklch(0.38 0.0014 17.22 / 0.19);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    /* sizing */
    --radius: 0.5rem;
    --header-height: 4rem;
    --footer-height: 5rem;
    --min-body-height: calc(100svh - (var(--header-height)) - (var(--footer-height)));
}

/* colors for profile ranks */
@source inline('bg-{pink,violet,sky,teal,yellow,gray,orange,stone}-{400,500}/80');

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply text-foreground;
    }
}
